<app-navbar></app-navbar>
<app-loader [isLoading]="Loading"></app-loader>

<mat-sidenav-container class="sidenav-container" autosize>
  
  <mat-sidenav 
    #sidenav 
    class="sidenav"
    [class.collapsed]="!sidenavOpened"
    mode="side"
    [opened]="true"
    fixedInViewport="true">

    <!-- Sidenav Header -->
    <div class="sidenav-header">
      <div class="header-content">
        <span class="header-title" *ngIf="sidenavOpened">Quick Navigation</span>
        <button mat-icon-button class="collapse-btn" (click)="toggleSidenav()" >

      

          <mat-icon>{{ sidenavOpened ? 'chevron_right' : 'chevron_left' }}</mat-icon> 
        </button>
      </div>
    </div>



    <!-- Navigation List -->
    <mat-nav-list class="nav-list">
      
    <mat-list-item 
  *ngFor="let item of navigationItems"
  [class.active-item]="item.active"
  class="nav-item"
  (click)="onNavigationClick(item)"
  [matTooltip]="!sidenavOpened ? item.label : ''"
  matTooltipPosition="right">

  <mat-icon matListItemIcon class="nav-icon">{{ item.icon }}</mat-icon>

  <span matListItemTitle class="nav-text" *ngIf="sidenavOpened">
    {{ item.label }}
  </span>
</mat-list-item>


    </mat-nav-list>
    
  </mat-sidenav>

  <!-- Main Content Area -->
  <mat-sidenav-content class="main-content">
    <div class="sidenav_content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
