<div class="conatact_field_section">

    <label class="tel_label" for="">{{label}}</label>
    
  <ngx-intl-tel-input
  appInputMask
  [preferredCountries]="preferredCountries"
  [enableAutoCountrySelect]="enableAutoCountrySelect"
  [enablePlaceholder]="enablePlaceholder"

  [searchCountryFlag]="searchCountryFlag"
  [selectFirstCountry]="selectFirstCountry"
  [selectedCountryISO]="selectedCountryISO"
  [maxLength]="maxLength"
  [formControl]="FormControl"
  [separateDialCode]="separateDialCode"
  [phoneValidation]="phoneValidation"
  [searchCountryField]="searchCountryField"
  [numberFormat]="numberFormat"
  [ngClass]="{'locked-country-input':disableCountrySelection}"
  >
</ngx-intl-tel-input>


</div>

