 <div class="pie-chart-wrapper">
 <div style="display: block; width: 250px; height: 250px;">
      <canvas
        baseChart
        [data]="pieChartData"
        [type]="'pie'"
        [options]="pieChartOptions">
      </canvas>
    </div>

    <!-- Custom Legend -->
<div class="custom-legend">
  <div *ngFor="let label of pieChartLabels; let i = index" class="legend-item">
    <div class="color-box" [style.background]="pieChartColors[i]"></div>
    <span class="legend-name">{{ label }}</span>
  </div>
</div></div>


