.custom-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;

  .legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
     flex: 0 0 calc(33.333% - 8px);

    .color-box {
      width: 14px;
      height: 14px;
      border-radius: 3px;
      display: inline-block;
    }

    .legend-name {
      font-family: 'Optima', sans-serif;
      font-size: 13px;
      color: #333;
    }
  }
}
.pie-chart-wrapper {
  display: flex;
  flex-direction: column; /* Stack chart and legend vertically */
  align-items: center;    /* Center both chart and legend horizontally */
}