* {
  box-sizing: border-box;
  font-family: 'Optima' !important;
}

.custom-dialog-container ::ng-deep .mat-mdc-dialog-surface {
   border-radius: 8px !important;
}

.dialog_section {
  width: 870px;
  padding: 10px 13px;

  .dialog_container {
    max-height: 78vh !important;
  overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 8px;
  }

  .dialog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;

    .header_content {
      display: flex;
      flex-direction: column;

      h2 {
        font-family: 'Optima';
        font-weight: 550;
        font-style: Medium;
        font-size: 24px;
        // line-height: 23px;
        margin: 0;
        padding:0;
        margin-bottom: 3px;
        letter-spacing: 0%;
        color: #2C3B44;
      }
      p
      {
        font-family: Optima;
font-weight: 400;
font-style: Normal;
font-size: 16px;
letter-spacing: 0%;
color: #718096;
margin: 0;
padding: 0;

      }
    }
  }

  .dialog_information_body
  {

    display: flex;
    flex-direction: column;
    gap: 8px;

    .user_types
    {
      display: flex;
      flex-direction: column;
      gap: 19px;
      padding: 20px 0;
      width: 100%;
      border-bottom: 1px solid #e0e0e0;


      

      
       label
    {
      font-family: Optima;
font-weight: 550;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #2C3B44;

    }

    }

    .personal_information
    {
      padding: 20px 0;

            border-bottom: 1px solid #e0e0e0;
       label
    {
      font-family: Optima;
font-weight: 550;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #2C3B44;

    }

    }

    .advance_directive_information
    {

      padding: 20px 0;

            border-bottom: 1px solid #e0e0e0;
        label
    {
      font-family: Optima;
font-weight: 550;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #2C3B44;

    }

    }

    .patient_information
    {
      padding: 20px 0;
       border-bottom: 1px solid #e0e0e0;

       label
    {
      font-family: Optima;
font-weight: 550;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #2C3B44;

    }
    }

    .Emergency_contact_information
    {

      padding: 20px 0;

            border-bottom: 1px solid #e0e0e0;
       label
    {
      font-family: Optima;
font-weight: 550;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #2C3B44;

    }

    }



    .radio_group
    {
      width: 100%;
      display: flex;
      gap: 20px ;
    }


    .formRow {
      margin: 25px 0px 0px 0px;
      gap: 15px;
      justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48.5%;
}

    
    .radio_group ::ng-deep .mat-mdc-radio-button .mdc-radio
    {
      padding: 0px !important;
    }

    .radio_group {
  display: flex;
  gap: 1rem;

  .custom_radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="radio"] {
      appearance: none;
      width: 15px;
      height: 15px;
      border: 2px solid #284B5F;
      border-radius: 50%;
      margin-right: 8px;
      position: relative;
      cursor: pointer;
      outline: none;

      &:checked {
        // background-color: #007bff;
       
        border-color: #284B5F;

        &::after {
          content: '';
          width: 8px;
          height: 9px;
          background: white;
          border-radius: 50%;
          position: absolute;
           background-color: #284B5F;
          top: 2px;
          left: 2.5px;
        }
      }
    }

    .radio_label {
      font-size: 14px;
      font-family: Optima;
font-weight: 400;
font-style: Normal;
font-size: 16px;
// leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color:#2C3B44 !important;

    }
  }
}

  }





}

.dioalog_action_section
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
  
}

mat-icon {
  cursor: pointer;
  color: #2C3B44;
  font-size: 24px;
}
