<div class="dialog_section" *ngIf="DialogData">
   
  <div class="dialog_container">
       
      <div class="dialog_header">

        <div class="header_content">
                    
        <h2>{{DialogData.Title}}</h2>
        <p>{{DialogData.sub_title}}</p>

        </div>


      </div>
     

      <div class="dialog_information_body">

        <!-- user type radio buttons  -->

           <div class="user_types">

            <label for="">User Type</label>


      <div class="radio_group">
  <label *ngFor="let user of UserTypes" class="custom_radio">
    <input
      type="radio"
      name="userType"
      [value]="user.value"
      [(ngModel)]="UserType"
      (change)="onUserTypeChange()"
    />
    <span class="radio_label">{{ user.label }}</span>
  </label>
</div>



      

          


           </div>

           <div class="personal_information">

             <label for="">Personal Information</label>

             <div class="formRow">

            <ng-container *ngFor="let field of PersonalInformation">

              <ng-container [ngSwitch]="field.inputType.toLowerCase()">


     <div class="Col"  [ngClass]="{
       'full-width': field.width === 'full',
       'half-width': field.width === 'half'
     }">


  <app-text-input
    *ngSwitchCase="['text', 'input', 'password'].includes(field.inputType) && field.inputType"
    [type]="field.datatype"
    [label]="field.label"
    [placeholder]="field.placeholder ?? ''"
    >
  </app-text-input>

   <app-check-box
    *ngSwitchCase="'checkbox'"
    [label]="field.label"
  ></app-check-box>


  <app-selector
    *ngSwitchCase="'select'"
    [label]="field.label"
    [options]="field.options ?? []"
    [placeholder]="field.placeholder ?? ''"
  ></app-selector>

   </div>



                   
         




          

                <!-- <app-select-field *ngSwitchCase="'select'" [field]="field"></app-select-field>
                
                <app-textarea-field *ngSwitchCase="'textarea'" [field]="field"></app-textarea-field>

                <app-checkbox-field *ngSwitchCase="'checkbox'" [field]="field"></app-checkbox-field>

                <app-radio-button-field *ngSwitchCase="'radio'" [field]="field"></app-radio-button-field>

                <app-date-picker-field *ngSwitchCase="'date'" [field]="field"></app-date-picker-field> -->
                 
              </ng-container>
                

            </ng-container>

             </div>
               
           </div>


           <!-- dynamic input based on user type  -->

           <ng-container [ngSwitch]="UserType.toLowerCase()">

            <ng-container *ngSwitchCase="'patient'">


              <div class="patient_information">

             <label for="">Patient Information</label>

             <div class="formRow">

            <ng-container *ngFor="let field of PatientInformation">

              <ng-container [ngSwitch]="field.inputType.toLowerCase()">


     <div class="Col"  [ngClass]="{
       'full-width': field.width === 'full',
       'half-width': field.width === 'half'
     }">


  <app-text-input
    *ngSwitchCase="['text', 'input', 'password'].includes(field.inputType) && field.inputType"
    [type]="field.datatype"
    [label]="field.label"
    [placeholder]="field.placeholder ?? ''"
    >
  </app-text-input>


 <app-check-box
    *ngSwitchCase="'checkbox'"
    [label]="field.label"
  ></app-check-box>


  <app-selector
    *ngSwitchCase="'select'"
    [label]="field.label"
    [options]="field.options ?? []"
    [placeholder]="field.placeholder ?? ''"
  ></app-selector>

   </div>



                   
         




          

                <!-- <app-select-field *ngSwitchCase="'select'" [field]="field"></app-select-field>
                
                <app-textarea-field *ngSwitchCase="'textarea'" [field]="field"></app-textarea-field>

                <app-checkbox-field *ngSwitchCase="'checkbox'" [field]="field"></app-checkbox-field>

                <app-radio-button-field *ngSwitchCase="'radio'" [field]="field"></app-radio-button-field>

                <app-date-picker-field *ngSwitchCase="'date'" [field]="field"></app-date-picker-field> -->
                 
              </ng-container>
                

            </ng-container>

             </div>
               
           </div>


           <div class="Emergency_contact_information">

             <label for="">Emergency Contact</label>

             <div class="formRow">

            <ng-container *ngFor="let field of EmergencyContactInformation">

              <ng-container [ngSwitch]="field.inputType.toLowerCase()">


     <div class="Col"  [ngClass]="{
       'full-width': field.width === 'full',
       'half-width': field.width === 'half'
     }">


  <app-text-input
    *ngSwitchCase="['text', 'input', 'password'].includes(field.inputType) && field.inputType"
    [type]="field.datatype"
    [label]="field.label"
    [placeholder]="field.placeholder ?? ''"
    >
  </app-text-input>

   <app-check-box
    *ngSwitchCase="'checkbox'"
    [label]="field.label"
  ></app-check-box>


  <app-selector
    *ngSwitchCase="'select'"
    [label]="field.label"
    [options]="field.options ?? []"
    [placeholder]="field.placeholder ?? ''"
  ></app-selector>

   </div>



                   
         




          

                <!-- <app-select-field *ngSwitchCase="'select'" [field]="field"></app-select-field>
                
                <app-textarea-field *ngSwitchCase="'textarea'" [field]="field"></app-textarea-field>

                <app-checkbox-field *ngSwitchCase="'checkbox'" [field]="field"></app-checkbox-field>

                <app-radio-button-field *ngSwitchCase="'radio'" [field]="field"></app-radio-button-field>

                <app-date-picker-field *ngSwitchCase="'date'" [field]="field"></app-date-picker-field> -->
                 
              </ng-container>
                

            </ng-container>

             </div>
               
           </div>



           <div class="advance_directive_information">

             <label for="">Advance Directive</label>

             <div class="formRow">

            <ng-container *ngFor="let field of AdvanceDirectiveInformation">

              <ng-container [ngSwitch]="field.inputType.toLowerCase()">


     <div class="Col"  [ngClass]="{
       'full-width': field.width === 'full',
       'half-width': field.width === 'half'
     }">


  <app-text-input
    *ngSwitchCase="['text', 'input', 'password'].includes(field.inputType) && field.inputType"
    [type]="field.datatype"
    [label]="field.label"
    [placeholder]="field.placeholder ?? ''"
    >
  </app-text-input>

  <app-check-box
    *ngSwitchCase="'checkbox'"
    [label]="field.label"
  ></app-check-box>


  <app-selector
    *ngSwitchCase="'select'"
    [label]="field.label"
    [options]="field.options ?? []"
    [placeholder]="field.placeholder ?? ''"
  ></app-selector>

   </div>



                   
         




          

                <!-- <app-select-field *ngSwitchCase="'select'" [field]="field"></app-select-field>
                
                <app-textarea-field *ngSwitchCase="'textarea'" [field]="field"></app-textarea-field>

                <app-checkbox-field *ngSwitchCase="'checkbox'" [field]="field"></app-checkbox-field>

                <app-radio-button-field *ngSwitchCase="'radio'" [field]="field"></app-radio-button-field>

                <app-date-picker-field *ngSwitchCase="'date'" [field]="field"></app-date-picker-field> -->
                 
              </ng-container>
                

            </ng-container>

             </div>
               
           </div>






            </ng-container>

            <ng-container *ngSwitchCase="'staff'">


              <div class="personal_information">

             <label for="">Staff Information</label>

             <div class="formRow">

            <ng-container *ngFor="let field of StaffInformation">

              <ng-container [ngSwitch]="field.inputType.toLowerCase()">


     <div class="Col"  [ngClass]="{
       'full-width': field.width === 'full',
       'half-width': field.width === 'half'
     }">


  <app-text-input
    *ngSwitchCase="['text', 'input', 'password'].includes(field.inputType) && field.inputType"
    [type]="field.datatype"
    [label]="field.label"
    [placeholder]="field.placeholder ?? ''"
    >
  </app-text-input>

   <app-check-box
    *ngSwitchCase="'checkbox'"
    [label]="field.label"
  ></app-check-box>


  <app-selector
    *ngSwitchCase="'select'"
    [label]="field.label"
    [options]="field.options ?? []"
    [placeholder]="field.placeholder ?? ''"
  ></app-selector>

   </div>



                   
         




          

                <!-- <app-select-field *ngSwitchCase="'select'" [field]="field"></app-select-field>
                
                <app-textarea-field *ngSwitchCase="'textarea'" [field]="field"></app-textarea-field>

                <app-checkbox-field *ngSwitchCase="'checkbox'" [field]="field"></app-checkbox-field>

                <app-radio-button-field *ngSwitchCase="'radio'" [field]="field"></app-radio-button-field>

                <app-date-picker-field *ngSwitchCase="'date'" [field]="field"></app-date-picker-field> -->
                 
              </ng-container>
                

            </ng-container>

             </div>
               
            </div>
              

            </ng-container>

             

           </ng-container>

           
         
      </div>


      <div class="dioalog_action_section">

          

          <app-button
            [buttonText]="'Discard'"
    
            [Style]="{'backgroundColor': 'white', color: '#284B5F',borderColor: '#284B5F',borderRadius:'8px', borderStyle:'solid' }"
            
          ></app-button>

          <app-button
            [buttonText]="'Submit Details'"
          ></app-button>

      </div>

  </div>
   
</div>