 <div class="password-change-container">
      <mat-card class="password-change-card">
        <!-- Header with Icon -->
        <div class="header-section">

          <div class="icon-container">

             <span class="material-symbols-outlined">
cardiology
</span>

          </div>
          
          
          <h1 class="title">Change Your Password</h1>
          <p class="subtitle">Enter a new password below to change your password.</p>
        </div>

        <!-- Form -->

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form-container">

            <!-- --current passwod  -->

            <mat-form-field appearance="outline" class="full-width" [ngClass]="{'hasError':(getFormControlByName('currentPassword')?.invalid && getFormControlByName('currentPassword')?.touched )}">
            <mat-label>Current password</mat-label>

            <input
              matInput
              [type]="hideNewPassword ? 'password' : 'text'"
              formControlName="currentPassword"
              placeholder="Enter current password"
            />
            <mat-icon
              matSuffix
              (click)="hideNewPassword = !hideNewPassword"
              class="visibility-icon"
            >
              {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
              

            <mat-error>{{getErrorMessage(passwordForm,'currentPassword')}}</mat-error>

          </mat-form-field>

          <!-- New Password Field -->
          <mat-form-field appearance="outline" class="full-width" [ngClass]="{'hasError':(getFormControlByName('newPassword')?.invalid && getFormControlByName('newPassword')?.touched )}">
            <mat-label>New password</mat-label>
            <input
              matInput
              (keyup)="onPasswordInput()"
              [type]="hideNewPassword ? 'password' : 'text'"
              formControlName="newPassword"
              placeholder="Enter new password"
            />
            <!-- <mat-icon
              matSuffix
              (click)="hideNewPassword = !hideNewPassword"
              class="visibility-icon"
            >
              {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon> -->


            <mat-error>{{getErrorMessage(passwordForm,'newPassword')}}</mat-error>
          </mat-form-field>

          <!-- Confirm Password Field -->
          <mat-form-field appearance="outline" class="full-width" [ngClass]="{'hasError':(getFormControlByName('confirmPassword')?.invalid && getFormControlByName('confirmPassword')?.touched )}">
            <mat-label>Re-enter new password</mat-label>
            <input
              matInput
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              placeholder="Re-enter new password"
            />
            <mat-icon
              matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword"
              class="visibility-icon"
            >
              {{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error>
                {{getErrorMessage(passwordForm,'confirmPassword')}}
            </mat-error>
         
          </mat-form-field>

          <!-- Password Requirements -->
      <div class="requirements-container">
  <p class="requirements-title">Your password must contain:</p>

  <!-- Min length -->
  <div class="requirement-item">
    <mat-icon class="check-icon" 
              [class.valid]="isValidLength" 
              [class.invalid]="!isValidLength">
      {{ isValidLength ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span class="requirement-text" 
          [class.valid]="isValidLength" 
          [class.invalid]="!isValidLength">
      At least 10 characters in length
    </span>
  </div>

  <!-- At least one uppercase -->
  <div class="requirement-item">
    <mat-icon class="check-icon" 
              [class.valid]="hasUpperCase" 
              [class.invalid]="!hasUpperCase">
      {{ hasUpperCase ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span class="requirement-text" 
          [class.valid]="hasUpperCase" 
          [class.invalid]="!hasUpperCase">
      At least one uppercase letter (A-Z)
    </span>
  </div>

  <!-- At least one special character -->
  <div class="requirement-item">
    <mat-icon class="check-icon" 
              [class.valid]="hasSpecialChar" 
              [class.invalid]="!hasSpecialChar">
      {{ hasSpecialChar ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span class="requirement-text" 
          [class.valid]="hasSpecialChar" 
          [class.invalid]="!hasSpecialChar">
      At least one special character (!&#64;#$%^&*)
    </span>
  </div>

  <!-- At least one number -->
  <div class="requirement-item">
    <mat-icon class="check-icon" 
              [class.valid]="hasNumber" 
              [class.invalid]="!hasNumber">
      {{ hasNumber ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span class="requirement-text" 
          [class.valid]="hasNumber" 
          [class.invalid]="!hasNumber">
      At least one number (0-9)
    </span>
  </div>

  <!-- No repetitive numbers -->


  <!-- <div class="requirement-item" *ngIf="passwordForm.get('newPassword')?.value">
    <mat-icon class="check-icon" 
              [class.valid]="!hasRepetitiveNumbers" 
              [class.invalid]="hasRepetitiveNumbers">
      {{ !hasRepetitiveNumbers ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span class="requirement-text" 
          [class.valid]="!hasRepetitiveNumbers" 
          [class.invalid]="hasRepetitiveNumbers">
      Should not contain repetitive numbers like 111, 222
    </span>
  </div> -->


</div>



          <!-- Submit Button -->
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="submit-button"
            [disabled]="!passwordForm.valid"
          >
            Reset password
          </button>
        </form>
      </mat-card>
    </div>