/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


ngx-charts-advanced-pie-chart .legend {
  display: none !important;
}

.advanced-pie-legend-wrapper {
    display: none !important;
}

.advanced-pie-legend {
  display: none !important;
}

.advanced-pie-legend-wrapper {
    display: none !important;
}
body { margin: 0; font-family: 'optima'; }





