/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ngx-charts-advanced-pie-chart .legend {
  display: none !important;
}

.advanced-pie-legend-wrapper {
    display: none !important;
}

.advanced-pie-legend {
  display: none !important;
}

.advanced-pie-legend-wrapper {
    display: none !important;
}