*
{
    box-sizing: border-box;
}

.dashboard_container
{
    width: 100%;

}

.dashboad_body
{
    width: 100%;
}

.middle_section
{
    display: flex;
    gap: 8px;
    width: 100%;
}

.table_section
{
    width: 60%;
}